.media-viewer__container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.media-viewer__container-background--light {
	color: #121212;
	background-color: #FFFFFF;
}

.media-viewer__container-background--dark {
	color: #FFFFFF;
	background-color: #121212;
}

.media-viewer__container-background--transparent {
	color: #000000;
	background-color: rgba(0, 0, 0, 0);
}

.media-viewer__nav-button {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 10;
	width: 48px;
	height: 48px;
	border: 1px solid rgb(255 255 255 / 60%);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.2s ease;
	color: rgb(255 255 255 / 60%);
	background-color: rgb(18 18 18 / 60%);
	border-radius: 4px;
	cursor: pointer;
	will-change: background;
	backdrop-filter: blur(5px);
}

.media-viewer__nav-button:disabled {
	display: none;
	cursor: default;
	pointer-events: none;
}
.media-viewer__nav-button:active {
	transform: scale(0.9);
}

.media-viewer__nav-button.media-viewer__left-nav {
	left: 12px;
}

.media-viewer__nav-button.media-viewer__right-nav {
	right: 12px;
}

.media-viewer__item {
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: fit-content;
	height: fit-content;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	touch-action: none;
	will-change: transform;
	overflow: hidden;
	user-select: none;
	box-shadow: 0 62.5px 125px -25px rgba(50, 50, 73, 0.5), 0 37.5px 75px -37.5px rgba(0, 0, 0, 0.6);
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

.media-viewer__item:active {
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

.media-viewer__item>svg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 10;
}

.media-viewer__title {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 12px;
	min-height: 36px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: #FFFFFF;
	background: rgb(0 0 0 / 40%);
}

.media-viewer__overlay-trigger {
	position: absolute;
	top: 12px;
	left: 12px;
	height: 48px;
	padding: 0 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: 1px solid rgb(255 255 255 / 60%);
	color: rgb(255 255 255);
	background-color: rgb(18 18 18 / 60%);
	border-radius: 4px;
	backdrop-filter: blur(5px);
	transition: all 0.4s ease;
}

.hidden {
	transform: scale(0);
}

/* 
	https://codepen.io/designcouch/pen/obvKxm
*/

.media-viewer__modal-container {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 9999;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.6);
	transform: scale(0);
	backdrop-filter: blur(2px);
}

.media-viewer__modal-container.fold-in {
	transform: scaleY(.01) scaleX(0);
	animation: unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
	/* animation: unfoldIn 1s ease forwards; */
}

.media-viewer__modal-container.fold-out {
	transform: scale(1);
	animation: unfoldOut 1s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
	/* animation: unfoldOut 1s .3s ease forwards; */
}

@keyframes unfoldIn {
	0% {
		transform: scaleY(.005) scaleX(0);
	}

	50% {
		transform: scaleY(.005) scaleX(1);
	}

	100% {
		transform: scaleY(1) scaleX(1);
	}
}

@keyframes unfoldOut {
	0% {
		transform: scaleY(1) scaleX(1);
	}

	50% {
		transform: scaleY(.005) scaleX(1);
	}

	100% {
		transform: scaleY(.005) scaleX(0);
	}
}

.media-viewer__modal-header {
	width: 100%;
	min-height: 64px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px 24px;
	box-sizing: border-box;
	backdrop-filter: blur(5px);
}

.media-viewer__modal-thumbnail-container {
	height: calc(100vh - 64px);
	overflow-y: auto;
	overflow-x: hidden;
}

.media-viewer__modal-thumbnail {
	display: flex;
	margin: 12px auto;
	filter: brightness(0.8);
	cursor: pointer;
	transition: filter 0.4s ease;
}

.media-viewer__modal-thumbnail:hover {
	filter: brightness(1.0);
}

.media-viewer__modal-title {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: #FFFFFF;
	padding: 0 24px;
}